<div class="container-fluid">
<h3><%= current_user.nickname %>さんと<%= @user.nickname %>さんのメッセージルーム
</h3>
<tr align="center" valign="middle">
 <td height="30" colspan="7" valign="top">
 <%= image_tag ('f_border.gif') %>
 <%= image_tag ('f_border.gif') %>
 <%= image_tag ('f_border.gif') %>
</td>
</tr>
 <ul class="thumbnails thumbnail--movies row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
   <% @messages.each do |message| %>
    <li>
      <%= message.user.nickname %>さん
      <%= message.body %>
    </li>
    <% end %>
  </ul>

<%= form_for [@user,@message] do |f| %>
  <div class="col-sm-6">メッセージを送る</div>
  <div class="form-for input-sm" style="padding: 3px;">
 <%= f.text_area :body, class: "form-conrol" %>
  </div>
  </div>
  <br><br>
        <div class="form-group">
        <%= f.submit "送信", class: "btn btn-primary withripple" %>
      </div>
    <% end %>
</div>

s