<div class="container-fluid">
 <% @users.each do |user| %>
 <%= user.nickname %>さん
 <% end %>
 のトークルーム
 <br><br>
<tr align="center" valign="middle">
 <td height="30" colspan="7" valign="top">
 <%= image_tag ('f_border.gif') %>
 <%= image_tag ('f_border.gif') %>
 <%= image_tag ('f_border.gif') %>
</td>
</tr>
<br><br>
 <ul class="message">
 <%= render @messages %>
  </ul>
  <br><br>


<%= form_for [@group,@message], remote: true do |f| %>
メッセージを送る
 <%= f.text_area :body %>
 <%=f.hidden_field :group_id, value: @group.id %>
        <%= f.submit "送信", class: "btn btn-primary withripple" %>
    <% end %>
</div>



